@import '../../styles/variables.scss';

.pricing {
  padding: 224px 0 160px;

  &__container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__prevTitle {
    margin-bottom: 16px;
    display: block;
    text-align: center;
    font-weight: $font-weight-300;
    font-size: $font-size-13;
    line-height: $line-height-160;
    text-transform: uppercase;
    color: $text-color-muted;
  }

  &__title {
    max-width: 1000px;
    margin: 0 auto 16px;
    font-weight: $font-weight-300;
    font-size: $font-size-80;
    line-height: $line-height-100;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &__descr {
    max-width: 600px;
    margin: 0 auto 64px;
    font-family: $font-family-secondary;
    font-weight: $font-weight-300;
    font-size: $font-size-20;
    line-height: $line-height-170;
    color: $text-color-muted;
    text-align: center;
  }

  &__cardsGrid {
    max-width: 1400px;
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__card {
    position: relative;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    padding: $card-padding;
    border: $border-main;
    border-radius: $border-radius-2;
    backdrop-filter: $backdrop-filter-main;
    background-color: $background-color-secondary;
  }

  &__cardStatus {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px;
    font-family: $font-family-secondary;
    font-weight: $font-weight-400;
    font-size: $font-size-12;
    line-height: $line-height-120;
    text-transform: uppercase;
    color: $text-color-secondary;
    border-radius: $border-radius-2;
    background-color: $background-color-light;
  }

  &__CardTitle {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: $font-weight-300;
    font-size: $font-size-13;
    line-height: $line-height-160;
    letter-spacing: $letter-spacing-12;
    text-transform: uppercase;
  }

  &__cardPrice {
    display: block;
    margin-bottom: 8px;
    font-weight: $font-weight-300;
    font-size: $font-size-32;
    line-height: $line-height-120;
    letter-spacing: $letter-spacing-3;
  }

  &__cardDescr {
    min-height: 120px;
    margin-bottom: 32px;
    font-family: $font-family-secondary;
    font-weight: $font-weight-300;
    font-size: $font-size-16;
    line-height: $line-height-180;
    color: $text-color-muted;
  }

  &__cardList {
    margin-bottom: 32px;
    list-style: none;
  }

  &__cardItem {
    font-weight: $font-weight-300;
    font-size: $font-size-13;
    line-height: $line-height-160;
    letter-spacing: $letter-spacing-12;
    text-transform: uppercase;

    &:not(:last-child) {
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: $border-main;
    }
  }
  
  &__bottomBlock {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
  }

  &__bottomBlockLeft {
    max-width: 676px;
    padding-top: 32px;

    span:nth-child(1) {
      display: inline-block;
      margin-bottom: 8px;
      font-weight: $font-weight-300;
      font-size: $font-size-13;
      line-height: $line-height-160;
      letter-spacing: $letter-spacing-12;
      text-transform: uppercase;
      color: $text-color-muted;
    }
    span:nth-child(2), span:last-child {
      display: block;
      font-weight: $font-weight-300;
      font-size: $font-size-64;
      line-height: $line-height-110;
    }
    span:last-child {
      font-style: italic;
    }
  }

  &__bottomBlockRight {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 676px;
    width: 100%;
  }

  &__bottomBlockSpoiler {
    max-width: 676px;
    width: 100%;
    padding: 32px;
    border: $border-main;
    border-radius: $border-radius-2;
    backdrop-filter: $backdrop-filter-main;
    background-color: $background-color-secondary;
  }

  &__bottomBlockSpoilerQuestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: transparent;
    color: $text-сolor-main;
    border: none;
    cursor: pointer;


    &:focus-visible {
      span {
        background-color: $background-color-light;
        color: $text-color-secondary;
      }
    }

    @media (hover: hover) {
      &:hover{
        span {
          background-color: $background-color-light;
          color: $text-color-secondary;
        }
      }
    }

    @media (hover: none) {
      &:active {
        span {
          background-color: $background-color-light;
          color: $text-color-secondary;
        }
      }
    }

    p {
      max-width: 574px;
      font-weight: $font-weight-300;
      font-size: $font-size-20;
      line-height: $line-height-140;
      letter-spacing: $letter-spacing-5;
      text-align: left;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      border: $border-main;
      border-radius: 100%;
      backdrop-filter: $backdrop-filter-main;
      background-color: $background-color-secondary;
      transition: .3s;
    }
  }

  &__bottomBlockSpoilerAnswer {
    margin-top: 16px;
    font-family: $font-family-secondary;
    font-weight: $font-weight-300;
    font-size: $font-size-16;
    line-height: $line-height-180;
    color: $text-color-muted
  }
}





@media (max-width: 1200px) {
  .pricing {

    &__cardsGrid {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 1000px) {
  .pricing {

    &__bottomBlock {
      flex-direction: column;
      align-items: center;
    }

    &__cardsGrid {
      margin-bottom: 80px;
    }

    &__bottomBlockLeft {
      padding-top: 0;
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  .pricing {
    padding: 110px 0 80px;

    &__title {
      font-size: $font-size-48;
    }

    &__descr {
      font-size: $font-size-16;
    }

    &__card {
      padding: $card-padding-24;
    }

    &__bottomBlockSpoiler {
      padding: $card-padding-24;
    }
  }
}