$font-family-main: Satoshi, sans-serif;
$font-family-secondary: Chillax, sans-serif;

$font-weight-400: 400;
$font-weight-300: 300;

$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;
$font-size-48: 48px;
$font-size-64: 64px;
$font-size-80: 80px;
$font-size-96: 96px;
$font-size-128: 128px;
$font-size-160: 160px;

$line-height-100: 100%;
$line-height-110: 110%;
$line-height-120: 120%;
$line-height-130: 130%;
$line-height-140: 140%;
$line-height-150: 150%;
$line-height-160: 160%;
$line-height-170: 170%;
$line-height-180: 180%;

$letter-spacing-12: 0.12em;
$letter-spacing-5: 0.05em;
$letter-spacing-4: 0.04em;
$letter-spacing-3: 0.03em;

$text-сolor-main: #dac5a7;
$text-color-secondary: #0e0e0e;
$text-color-muted: #dac5a799;

$background-color-main: #0e0e0e;
$background-color-light: #dac5a7;
$background-color-secondary: #dac5a70d;
$backdrop-filter-main: blur(30px);

$border-main: 1px solid #dac5a726;
$border-radius-2: 2px;

$card-padding: 48px;
$card-padding-24: 24px;