@import '../../styles/variables.scss';
$margin-bottom-160: 160px;

.hero {
  padding-top: 659px;
  margin-bottom: $margin-bottom-160;
  min-height: 650px;
  background-image: url(../../images/img/mainPerson.png);
  background-repeat: no-repeat;
  background-position: 50% 14px;
  mix-blend-mode: lighten;
  text-align: center;

  &__container {
    max-width: 1950px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__title {
    max-width: 1015px;
    margin: 0 auto 16px;
    font-weight: $font-weight-300;
    font-size: $font-size-160;
    line-height: $line-height-100;

    span {
      font-style: italic;
    }
  }

  &__descr {
    max-width: 600px;
    margin: 0 auto;
    font-family: $font-family-secondary;
    font-weight: $font-weight-300;
    font-size: $font-size-24;
    line-height: $line-height-150;
  }
}

.sponsors {
  margin-bottom: 80px;

  &__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.services {
  margin-bottom: $margin-bottom-160;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    max-width: 445px;
    padding: $card-padding;
    border: $border-main;
    border-radius: $border-radius-2;
    background-color: $background-color-secondary;
    font-weight: $font-weight-300;
  }

  &__prevTitle {
    margin-bottom: 4px;
    font-size:$font-size-13;
    line-height: $line-height-160;
    letter-spacing: $letter-spacing-12;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: $font-weight-300;
    font-size: $font-size-24;
    line-height: $line-height-130;
    letter-spacing: $letter-spacing-4;
    text-transform: uppercase;
  }

  &__descr {
    margin-bottom: 32px;
    font-family: $font-family-secondary;
    line-height: $line-height-180;
  }
}

.work {
  margin-bottom: $margin-bottom-160;
  font-weight: $font-weight-300;

  
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0px 32px;
    margin-bottom: 32px;
  }

  &__title {
    font-size: $font-size-64;
    line-height: $line-height-110;
    font-weight: $font-weight-300;
    
    span {
      font-style: italic;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    font-weight: $font-weight-300;
    font-size: $font-size-13;
    line-height: $line-height-160;
    letter-spacing: $letter-spacing-12;
    text-transform: uppercase;
    color: $text-сolor-main;
    border: none;
    background-color: transparent;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: $border-main;
      border-radius: 100%;
      backdrop-filter: $backdrop-filter-main;
      background-color: $background-color-secondary;
      transition: .3s;
    }

    path {
      transition: .3s;
    }

    &:focus-visible {

      span {
        transition: .3s;
        background-color: $background-color-light;
        border: none;

        path {
          transition: .3s;
          fill: $text-color-secondary;
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        span {
          transition: .3s;
          background-color: $background-color-light;
          border: none;

          path {
            transition: .3s;
            fill: $text-color-secondary;
          }
       }
      }
    }

    @media (hover: none) {
      &:active {
        span {
          transition: .3s;
          background-color: $background-color-light;
          border: none;

          path {
            transition: .3s;
            fill: $text-color-secondary;
          }
       }
      }
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__card {
    position: relative;
    max-width: 684px;
    width: 100%;
    padding: 426px 32px 32px;
    border: $border-main;
    border-radius: $border-radius-2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    color: $text-сolor-main;
    text-decoration: none;

    &:nth-child(1) {
      background-image: url('../../images/img/work1.png');
    }
    &:nth-child(2) {
      background-image: url('../../images/img/work2.png');
    }
    &:nth-child(3) {
      background-image: url('../../images/img/work3.png');
    }
    &:nth-child(4) {
      background-image: url('../../images/img/work4.png');
    }

    &:focus-visible {
    
      .work__cardCircle {
        visibility: visible;
        opacity: 100%;
      }
    }

    @media (hover: hover) {
      &:hover {
        .work__cardCircle {
          visibility: visible;
          opacity: 100%;
        }
      }
    }

    @media (hover: none) {
      &:active {
        .work__cardCircle {
          visibility: visible;
          opacity: 100%;
        }
      }
    }
  }

  &__cardCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    width: 46px;
    height: 46px;
    backdrop-filter: $backdrop-filter-main;
    background-color: $background-color-secondary;
    border: $border-main;
    border-radius: 100%;
    background-image: url('../../images/icons/arrow-up-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;

    &:hover {
      background-color: $background-color-light;
      background-image: url('../../images/icons/arrow-up-right-dark.svg');
    }
  }

  &__cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 12px 16px;
    border: $border-main;
    border-radius: $border-radius-2;
    backdrop-filter: $backdrop-filter-main;
    background-color: #ffffff0d;

    span:nth-child(1) {
      font-size: $font-size-24;
      line-height: $line-height-130;
      letter-spacing: $letter-spacing-4;
    }

    span:nth-child(2) {
      font-size: $font-size-13;
      line-height: $line-height-160;
      letter-spacing: $letter-spacing-12;
      text-transform: uppercase;
    }
  }
}

.process {
  margin-bottom: $margin-bottom-160;
  font-weight: $font-weight-300;

  &__prevTitle {
    display: block;
    margin-bottom: 16px;
    font-size: $font-size-13;
    line-height: $line-height-160;
    letter-spacing: $letter-spacing-12;
    text-transform: uppercase;
    text-align: center;
  }

  &__title {
    max-width: 710px;
    margin: 0 auto 16px;
    font-weight: $font-weight-300;
    font-size: $font-size-128;
    line-height: $line-height-100;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &__titleDescr {
    max-width: 500px;
    margin: 0 auto 48px;
    font-family: $font-family-secondary;
    text-align: center;
    font-size: $font-size-20;
    line-height: $line-height-170;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }

  &__card {
    position: relative;
    max-width: 600px;
    padding: $card-padding;
    border: $border-main;
    border-radius: $border-radius-2;
    backdrop-filter: $backdrop-filter-main;
    background-color: $background-color-secondary;    
  }

  &__cardTime {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px;
    border: $border-main;
    border-radius: $border-radius-2;
    background-color: $background-color-secondary;
    backdrop-filter: $backdrop-filter-main;
    font-family: $font-family-secondary;
    font-size: $font-size-12;
    line-height: $line-height-120;
    text-transform: uppercase;
  }

  &__cardPrevTitle {
    display: block;
    margin-bottom: 4px;
    font-size: $font-size-13;
    line-height: $line-height-160;
    letter-spacing: $letter-spacing-12;
    text-transform: uppercase;
  }

  &__cardTitle {
    margin-bottom: 16px;
    font-weight: $font-weight-300;
    font-size: $font-size-24;
    line-height: $line-height-130;
    letter-spacing: $letter-spacing-4;
    text-transform: uppercase;
  }

  &__cardDescr {
    margin-bottom: 32px;
    font-family: $font-family-secondary;
    font-size: $font-size-16;
    line-height: $line-height-180;
  }

  &__cardList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
  }

  &__cardListItem {
    display: flex;
    gap: 16px;
    align-items: center;
    font-family: $font-family-secondary;
    line-height: $line-height-180;

    span:nth-child(1) {
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: $background-color-light;
    }
  }

  &__divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  } 

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: $border-main;
    border-radius: 100%;
    backdrop-filter: $backdrop-filter-main;
    background-color: $background-color-secondary;
    font-size: $font-size-13;
    line-height: $line-height-160;
    text-transform: uppercase;

    &:nth-child(1) {
      background-image: url('../../images/icons/arrow-down-light.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__line {
    width: 1px;
    height: 277px;
    background-color: #dac5a726;
  }
}

.review {
  font-weight: $font-weight-300;

  &__title {
    max-width: 600px;
    margin: 0 auto 16px;
    text-align: center;
    font-weight: $font-weight-300;
    font-size: $font-size-96;
    line-height: $line-height-100;

    span {
      font-style: italic;
    }
  }

  &__descr {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 64px;
    text-align: center;
    font-family: $font-family-secondary;
    font-size: $font-size-18;
    line-height: $line-height-160;
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__card {
    display: flex;
    flex-direction: column;
    max-width: 584px;
    padding: $card-padding;
    border: $border-main;
    border-radius: $border-radius-2;
    backdrop-filter: $backdrop-filter-main;
    background-color: $background-color-secondary;
  }

  &__img {
    margin-bottom: 32px;
    width: fit-content;
  }
  
  &__cardTitle {
    margin-bottom: 8px;
    font-size: $font-size-24;
    line-height: $line-height-130;
    letter-spacing: $letter-spacing-4;
    font-weight: $font-weight-300;
  }

  &__cardDescr {
    margin-bottom: 32px;
    font-family: $font-family-secondary;
    font-size: $font-size-16;
    line-height: $line-height-180;
  }

  &__person {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 9px 0;
    margin-top: auto;
  }

  &__personImg {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  &__perconName {
    display: block;
    font-size: $font-size-13;
    line-height: $line-height-160;
    letter-spacing: $letter-spacing-12;
    text-transform: uppercase;
  }

  &__perconCompany {
    font-family: $font-family-secondary;
    font-size: $font-size-14;
    line-height: $line-height-160;
  }
}

.greeting {
  padding: 400px 0px 232px;
  mix-blend-mode: lighten;
  background-image: url('../../images/img/mainPerson.png');
  background-repeat: no-repeat;
  background-position: center 0;
  font-weight: $font-weight-300;

  &__nameBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    gap: 20px;
    margin-bottom: 236px;
  }

  &__personName {
    font-weight: $font-weight-300;
    font-size: $font-size-128;
    line-height: $line-height-100;

    span {
      font-style: italic;
    }
  }

  &__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    max-width: 568px;
    font-weight: $font-weight-300;
    font-size: $font-size-48;
    line-height: $line-height-110;

    span {
      font-style: italic;
    }
  }

  &__descrBlock {
    max-width: 568px;
  }

  &__descr {
    margin-bottom: 32px;
    font-family: $font-family-secondary;
    font-weight: $font-weight-300;
    font-size: $font-size-18;
    line-height: $line-height-160;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
  }

  &__listLink {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $border-main;
    border-radius: 100%;
    background-color: $background-color-secondary;
    transition: background-color .3s;

    path {
      transition: .3s;
    }

    &:focus-visible {
      background-color: $background-color-light;
      border: none;

      path {
        transition: .3s;
        fill: $text-color-secondary;
      }
    }

    @media (hover: hover) {
      &:hover {
        background-color: $background-color-light;
        border: none;
  
        path {
          transition: .3s;
          fill: $text-color-secondary;
        }
      }
    }

    @media (hover: none) {
      &:active {
        background-color: $background-color-light;
        border: none;
  
        path {
          transition: .3s;
          fill: $text-color-secondary;
        }
      }
    }
  }
} 



$margin-bottom-80: 80px;

@media (max-width: 1800px) {
 
  .greeting {
    
    &__nameBlock {
      text-align: center;
    }
  }
}

@media (max-width: 1450px) {
 
  .work {

    &__cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }


  .work {

    &__top {
     flex-direction: column;
     text-align: center;
    }
  }
}

@media (max-width: 1300px) {
  
  .greeting {
    padding-top: 100px;
    background-image: none;

    &__nameBlock {
      display: none;
      visibility: hidden;
    }
  }
}

@media (max-width: 1100px) {
  $hero-padding-top: 110px;

  .hero {
    padding-top: $hero-padding-top;
    height: calc(100vh - $hero-padding-top);

    &__title {
      font-size: $font-size-96;
    }
  }


  .greeting {

    &__container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__list {
      justify-content: center;
    }
  }


  .process {

    &__grid {
      gap: 40px;
      flex-direction: column;
      align-items: center;
    }

    &__divider {
      display: none;
      visibility: hidden;
    }

    &__card {

      &:nth-child(1) {
        margin: 0 0 40px;
      }
    }
  }
}

@media (max-width: 1000px) {
  
  .services {
   
    &__container {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {

  .sponsors {

    &__container {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 450px) {
  $hero-padding-top: 110px;

  .hero {
    padding-top: $hero-padding-top;
    height: calc(100vh - $hero-padding-top);

    &__title {
      font-size: $font-size-64;
    }

    &__descr {
      font-size: $font-size-16;
    }
  }


  .services {
    margin-bottom: $margin-bottom-80;

    &__card {
      padding: $card-padding-24;
    }
  }


  .work {
    margin-bottom: $margin-bottom-80;

    &__card {
      padding: 426px 16px 32px;
    }

    &__title {
      font-size: $font-size-48;
    }
  }

  .review {

    &__title {
      font-size: $font-size-64;
    }

    &__descr {
      font-size: $font-size-16;
      margin-bottom: 32px;
    }

    &__card {
      padding: $card-padding-24;
    }

    &__cardDescr {
      font-size: $font-size-13;
    }

    &__cardTitle {
      font-size: $font-size-18;
    }
  }


  .greeting {
    padding-bottom: 110px;

    &__descr {
      font-size: $font-size-16;
    }
  }


  .process {

    &__title {
      font-size: $font-size-64;
    }

    &__titleDescr {
      font-size: $font-size-16;
    }

    &__card {
      padding: $card-padding-24;
    }
  }
}